:host {
    display: block;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.rating > span {
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}

.contents {
    flex: 5;
}

button.watch {
    background-color: dodgerblue;
    color: white;
}

md-card-title {
    font-size: 18px; 
}